## SQL Coding Questions from Well-known Companies

In [211]:
%load_ext sql
%sql mysql+mysqldb://root:655412q@localhost/vscode

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@vscode'

### 문제 1
매출 테이블 (표 1 스키마 정보 확인) 을 참고하여 표 3과 같은 결과를 도출하는
쿼리 작성
- 표 2 결과 테이블 스키마 정보 비고 내용을 확인
- 쿼리 작성시 각 컬럼의 데이터 타입 정의 필수
- 쿼리 결과 정렬 필수
- 첨부파일 : 문제1.tsv

In [207]:
%%sql
SELECT *
FROM 문제1
WHERE DATE(FST_CRE_UTC_DTTM) = '2022-05-21'
ORDER BY SVC_TYPE_NM

 * mysql+mysqldb://root:***@localhost/vscode
38 rows affected.

[('6289-18a6-18cd', '215680517676', 23314847212936, 'CREDIT', 'TNA', 71322, datetime.datetime(2022, 5, 21, 16, 52, 46)),
 ('6289-18a6-18cd', '215680517676', 23314847212936, 'CREDIT', 'TNA', 71322, datetime.datetime(2022, 5, 21, 16, 52, 46)),
 ('6289-18a6-18cd', '215680517676', 23314847212936, 'CREDIT', 'TNA', 71322, datetime.datetime(2022, 5, 21, 16, 52, 46)),
 ('6289-18a6-18cd', '215680517676', 23314847212936, 'CREDIT', 'TNA', 71322, datetime.datetime(2022, 5, 21, 16, 52, 46)),
 ('6288-582d-18cd', '207951349216', 13912442356288, 'NAVER_PAY', 'TNA', 72592, datetime.datetime(2022, 5, 21, 3, 13, 6)),
 ('6288-4fe9-4526', '11432576880', 3694450244670, 'NAVER_PAY', 'TNA', 64201, datetime.datetime(2022, 5, 21, 2, 37, 8)),
 ('6288-4fe9-4526', '11432576880', 3694450244670, 'NAVER_PAY', 'TNA', 64201, datetime.datetime(2022, 5, 21, 2, 37, 8)),
 ('6288-9937-18cd', '1853069400', 1608679070641, 'NAVER_PAY', 'TNA', 71322, datetime.datetime(2022, 5, 21, 7, 48, 36)),
 ('6288-9937-18cd', '1853069400', 1608679070641, 'NAVER_PAY', 'TNA', 71322, datetime.datetime(2022, 5, 21, 7, 48, 36)),
 ('6288-9937-18cd', '1853069400', 1608679070641, 'NAVER_PAY', 'TNA', 71322, datetime.datetime(2022, 5, 21, 7, 48, 36)),
 ('6288-9937-18cd', '1853069400', 1608679070641, 'NAVER_PAY', 'TNA', 71322, datetime.datetime(2022, 5, 21, 7, 48, 36)),
 ('6288-582d-18cd', '207951349216', 13912442356288, 'NAVER_PAY', 'TNA', 72592, datetime.datetime(2022, 5, 21, 3, 13, 6)),
 ('D968-848', '822425032912', 68693218925643, 'CREDIT', '항공 국내선', 72428, datetime.datetime(2022, 5, 21, 11, 32, 30)),
 ('D969-064', '446708463016', 62991774588604, 'CREDIT', '항공 국내선', 72295, datetime.datetime(2022, 5, 21, 14, 58, 9)),
 ('D969-063', '349801702047', 62991774588604, 'CREDIT', '항공 국내선', 72295, datetime.datetime(2022, 5, 21, 14, 58, 9)),
 ('D968-139', '902178721791', 69618513720793, 'CREDIT', '항공 국내선', 71819, datetime.datetime(2022, 5, 21, 1, 14, 47)),
 ('D968-483', '372739083727', 15040908076474, 'CREDIT', '항공 국내선', 71444, datetime.datetime(2022, 5, 21, 6, 40, 23)),
 ('D968-747', '724495850143', 68693218925643, 'CREDIT', '항공 국내선', 71410, datetime.datetime(2022, 5, 21, 10, 16, 21)),
 ('5004', '16873012', 49360328314012, 'CREDIT', '항공 국제선', 75025, datetime.datetime(2022, 5, 21, 15, 14, 53)),
 ('4987', '33451567', 10506611842930, 'CREDIT', '항공 국제선', 70829, datetime.datetime(2022, 5, 21, 10, 17, 53)),
 ('4983', '19552995', 3832015951800, 'CREDIT', '항공 국제선', 80281, datetime.datetime(2022, 5, 21, 9, 56, 12)),
 ('5003', '13385169', 16585817276032, 'CREDIT', '항공 국제선', 79374, datetime.datetime(2022, 5, 21, 14, 59, 54)),
 ('4975', '2224780', 56215330821379, 'CREDIT', '항공 국제선', 78312, datetime.datetime(2022, 5, 21, 9, 6, 45)),
 ('4998', '30408154', 68841885573043, 'CREDIT', '항공 국제선', 76066, datetime.datetime(2022, 5, 21, 14, 33, 43)),
 ('4979', '9150066', 31657484845584, 'CREDIT', '항공 국제선', 75031, datetime.datetime(2022, 5, 21, 7, 10, 28)),
 ('4980', '12615709', 7468028547984, 'CREDIT', '항공 국제선', 74523, datetime.datetime(2022, 5, 21, 8, 17, 58)),
 ('4991', '9523696', 16341494121274, 'CREDIT', '항공 국제선', 73771, datetime.datetime(2022, 5, 21, 12, 49, 48)),
 ('4962', '8778436', 4153098369160, 'CREDIT', '항공 국제선', 72240, datetime.datetime(2022, 5, 21, 1, 44, 49)),
 ('4992', '12999439', 14756812644574, 'CREDIT', '항공 국제선', 72121, datetime.datetime(2022, 5, 21, 12, 37, 56)),
 ('6288-4ade-4526', '289634853411', 71531556995583, 'CREDIT', '호텔', 74615, datetime.datetime(2022, 5, 21, 2, 14, 31)),
 ('6288-e48c-18cd', '8789537770', 20813962636456, 'CREDIT', '호텔', 74680, datetime.datetime(2022, 5, 21, 13, 10, 5)),
 ('6288-32bc-4526', '464724868572', 19235163913245, 'CREDIT', '호텔', 75472, datetime.datetime(2022, 5, 21, 0, 32)),
 ('6288-33d4-4526', '180168310134', 19235163913245, 'CREDIT', '호텔', 75524, datetime.datetime(2022, 5, 21, 0, 36, 10)),
 ('6288-b263-4526', '29228611480', 32143168676358, 'NAVER_PAY', '호텔', 76246, datetime.datetime(2022, 5, 21, 9, 37, 51)),
 ('6288-9e09-4526', '635018872336', 535084213, 'CREDIT', '호텔', 76388, datetime.datetime(2022, 5, 21, 8, 15, 34)),
 ('6288-73a1-18cd', '305738789578', 37984330313752, 'CREDIT', '호텔', 77116, datetime.datetime(2022, 5, 21, 5, 9, 7)),
 ('6288-a620-18cd', '73027110037', 13363602866848, 'NAVER_PAY', '호텔', 74158, datetime.datetime(2022, 5, 21, 8, 45, 30)),
 ('6289-497d-4526', '418531898875', 35382592322584, 'NAVER_PAY', '호텔', 75460, datetime.datetime(2022, 5, 21, 20, 21, 23))]

In [17]:
import pandas as pd
data = pd.read_csv("C:/Users/persi/Desktop/새 폴더/문제1.tsv", delimiter='\t', keep_default_na=False)

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ORDER_ID             200 non-null    object
 1   RESV_ID              200 non-null    int64
 2   USER_ID              200 non-null    int64
 3   PG_DEAL_METHOD_TYPE  200 non-null    object
 4   SVC_TYPE_NM          200 non-null    object
 5   PMT_AMT              200 non-null    int64
 6   FST_CRE_UTC_DTTM     200 non-null    object
dtypes: int64(3), object(4)
memory usage: 11.1+ KB

In [19]:
data['FST_CRE_UTC_DTTM'] = pd.to_datetime(data['FST_CRE_UTC_DTTM'])

In [20]:
data['FST_CRE_UTC_DTTM']

0     2022-05-25 12:46:01
1     2022-05-25 06:45:56
2     2022-05-25 12:43:49
3     2022-05-25 01:43:21
4     2022-05-25 07:24:09
              ...
195   2022-05-24 05:38:39
196   2022-05-24 06:40:27
197   2022-05-24 06:40:27
198   2022-05-23 15:13:04
199   2022-05-23 15:13:04
Name: FST_CRE_UTC_DTTM, Length: 200, dtype: datetime64[ns]

In [26]:
data['FST_CRE_UTC_DTTM'].dt.date

0      2022-05-25
1      2022-05-25
2      2022-05-25
3      2022-05-25
4      2022-05-25
          ...
195    2022-05-24
196    2022-05-24
197    2022-05-24
198    2022-05-23
199    2022-05-23
Name: FST_CRE_UTC_DTTM, Length: 200, dtype: object

In [40]:
from datetime import datetime
from datetime import date

In [45]:
x = pd.to_datetime("2022-05-21").date()
data[(data['FST_CRE_UTC_DTTM'].dt.date == x)].sort_values('FST_CRE_UTC_DTTM', ascending=True)

,ORDER_ID,RESV_ID,USER_ID,PG_DEAL_METHOD_TYPE,SVC_TYPE_NM,PMT_AMT,FST_CRE_UTC_DTTM
114,6288-32bc-4526,464724868572,19235163913245,CREDIT,호텔,75472,2022-05-21 00:32:00
113,6288-33d4-4526,180168310134,19235163913245,CREDIT,호텔,75524,2022-05-21 00:36:10
66,D968-139,902178721791,69618513720793,CREDIT,항공 국내선,71819,2022-05-21 01:14:47
157,4962,8778436,4153098369160,CREDIT,항공 국제선,72240,2022-05-21 01:44:49
118,6288-4ade-4526,289634853411,71531556995583,CREDIT,호텔,74615,2022-05-21 02:14:31
149,6288-4fe9-4526,11432576880,3694450244670,NAVER_PAY,TNA,64201,2022-05-21 02:37:08
148,6288-4fe9-4526,11432576880,3694450244670,NAVER_PAY,TNA,64201,2022-05-21 02:37:08
140,6288-582d-18cd,207951349216,13912442356288,NAVER_PAY,TNA,72592,2022-05-21 03:13:06
141,6288-582d-18cd,207951349216,13912442356288,NAVER_PAY,TNA,72592,2022-05-21 03:13:06
110,6288-73a1-18cd,305738789578,37984330313752,CREDIT,호텔,77116,2022-05-21 05:09:07
68,D968-483,372739083727,15040908076474,CREDIT,항공 국내선,71444,2022-05-21 06:40:23
154,4979,9150066,31657484845584,CREDIT,항공 국제선,75031,2022-05-21 07:10:28
143,6288-9937-18cd,1853069400,1608679070641,NAVER_PAY,TNA,71322,2022-05-21 07:48:36
144,6288-9937-18cd,1853069400,1608679070641,NAVER_PAY,TNA,71322,2022-05-21 07:48:36
145,6288-9937-18cd,1853069400,1608679070641,NAVER_PAY,TNA,71322,2022-05-21 07:48:36
142,6288-9937-18cd,1853069400,1608679070641,NAVER_PAY,TNA,71322,2022-05-21 07:48:36
111,6288-9e09-4526,635018872336,535084213,CREDIT,호텔,76388,2022-05-21 08:15:34
155,4980,12615709,7468028547984,CREDIT,항공 국제선,74523,2022-05-21 08:17:58
119,6288-a620-18cd,73027110037,13363602866848,NAVER_PAY,호텔,74158,2022-05-21 08:45:30
152,4975,2224780,56215330821379,CREDIT,항공 국제선,78312,2022-05-21 09:06:45
112,6288-b263-4526,29228611480,32143168676358,NAVER_PAY,호텔,76246,2022-05-21 09:37:51
150,4983,19552995,3832015951800,CREDIT,항공 국제선,80281,2022-05-21 09:56:12
69,D968-747,724495850143,68693218925643,CREDIT,항공 국내선,71410,2022-05-21 10:16:21
159,4987,33451567,10506611842930,CREDIT,항공 국제선,70829,2022-05-21 10:17:53
63,D968-848,822425032912,68693218925643,CREDIT,항공 국내선,72428,2022-05-21 11:32:30
158,4992,12999439,14756812644574,CREDIT,항공 국제선,72121,2022-05-21 12:37:56
156,4991,9523696,16341494121274,CREDIT,항공 국제선,73771,2022-05-21 12:49:48
117,6288-e48c-18cd,8789537770,20813962636456,CREDIT,호텔,74680,2022-05-21 13:10:05
153,4998,30408154,68841885573043,CREDIT,항공 국제선,76066,2022-05-21 14:33:43
65,D969-063,349801702047,62991774588604,CREDIT,항공 국내선,72295,2022-05-21 14:58:09
64,D969-064,446708463016,62991774588604,CREDIT,항공 국내선,72295,2022-05-21 14:58:09
151,5003,13385169,16585817276032,CREDIT,항공 국제선,79374,2022-05-21 14:59:54
99,5004,16873012,49360328314012,CREDIT,항공 국제선,75025,2022-05-21 15:14:53
73,6289-18a6-18cd,215680517676,23314847212936,CREDIT,TNA,71322,2022-05-21 16:52:46
72,6289-18a6-18cd,215680517676,23314847212936,CREDIT,TNA,71322,2022-05-21 16:52:46
71,6289-18a6-18cd,215680517676,23314847212936,CREDIT,TNA,71322,2022-05-21 16:52:46
70,6289-18a6-18cd,215680517676,23314847212936,CREDIT,TNA,71322,2022-05-21 16:52:46
132,6289-497d-4526,418531898875,35382592322584,NAVER_PAY,호텔,75460,2022-05-21 20:21:23

In [202]:
%%sql
SELECT DATE(FST_CRE_UTC_DTTM) as BASIS_DT, SVC_TYPE_NM, COUNT(*)
FROM 문제1
WHERE DATE(FST_CRE_UTC_DTTM) > '2022-05-20'
GROUP BY BASIS_DT, SVC_TYPE_NM
ORDER BY BASIS_DT asc

 * mysql+mysqldb://root:***@localhost/vscode
20 rows affected.

[(datetime.date(2022, 5, 21), 'TNA', 12),
 (datetime.date(2022, 5, 21), '항공 국내선', 6),
 (datetime.date(2022, 5, 21), '항공 국제선', 11),
 (datetime.date(2022, 5, 21), '호텔', 9),
 (datetime.date(2022, 5, 22), 'TNA', 11),
 (datetime.date(2022, 5, 22), '항공 국내선', 12),
 (datetime.date(2022, 5, 22), '항공 국제선', 9),
 (datetime.date(2022, 5, 22), '호텔', 11),
 (datetime.date(2022, 5, 23), 'TNA', 10),
 (datetime.date(2022, 5, 23), '항공 국내선', 8),
 (datetime.date(2022, 5, 23), '항공 국제선', 11),
 (datetime.date(2022, 5, 23), '호텔', 10),
 (datetime.date(2022, 5, 24), 'TNA', 7),
 (datetime.date(2022, 5, 24), '항공 국내선', 14),
 (datetime.date(2022, 5, 24), '항공 국제선', 9),
 (datetime.date(2022, 5, 24), '호텔', 9),
 (datetime.date(2022, 5, 25), 'TNA', 8),
 (datetime.date(2022, 5, 25), '항공 국내선', 6),
 (datetime.date(2022, 5, 25), '항공 국제선', 10),
 (datetime.date(2022, 5, 25), '호텔', 9)]

### 문제 2
접속 이력 테이블 (표1) 을 참고하여 표 3과 같은 결과를 도출하는 쿼리 작성
- 표2 비고 내용을 확인
- 쿼리 결과 정렬 필수
- 첨부파일 : 문제2.tsv

In [270]:
%%sql
SELECT
    ID,
    ROW_NUMBER() OVER (PARTITION BY ID ORDER BY DT) AS rn,
    DATEDIFF('2022-02-01', DT) AS grp,
    DT
FROM 문제2

 * mysql+mysqldb://root:***@localhost/vscode
49 rows affected.

[(1, 1, 30, datetime.date(2022, 1, 2)),
 (1, 2, 29, datetime.date(2022, 1, 3)),
 (1, 3, 28, datetime.date(2022, 1, 4)),
 (1, 4, 27, datetime.date(2022, 1, 5)),
 (1, 5, 26, datetime.date(2022, 1, 6)),
 (1, 6, 25, datetime.date(2022, 1, 7)),
 (1, 7, 24, datetime.date(2022, 1, 8)),
 (1, 8, 23, datetime.date(2022, 1, 9)),
 (1, 9, 22, datetime.date(2022, 1, 10)),
 (1, 10, 21, datetime.date(2022, 1, 11)),
 (1, 11, 20, datetime.date(2022, 1, 12)),
 (1, 12, 19, datetime.date(2022, 1, 13)),
 (1, 13, 18, datetime.date(2022, 1, 14)),
 (1, 14, 17, datetime.date(2022, 1, 15)),
 (1, 15, 16, datetime.date(2022, 1, 16)),
 (1, 16, 15, datetime.date(2022, 1, 17)),
 (1, 17, 14, datetime.date(2022, 1, 18)),
 (1, 18, 13, datetime.date(2022, 1, 19)),
 (1, 19, 12, datetime.date(2022, 1, 20)),
 (1, 20, 11, datetime.date(2022, 1, 21)),
 (1, 21, 10, datetime.date(2022, 1, 22)),
 (1, 22, 9, datetime.date(2022, 1, 23)),
 (1, 23, 8, datetime.date(2022, 1, 24)),
 (1, 24, 7, datetime.date(2022, 1, 25)),
 (1, 25, 6, datetime.date(2022, 1, 26)),
 (2, 1, 31, datetime.date(2022, 1, 1)),
 (2, 2, 30, datetime.date(2022, 1, 2)),
 (2, 3, 29, datetime.date(2022, 1, 3)),
 (2, 4, 28, datetime.date(2022, 1, 4)),
 (2, 5, 27, datetime.date(2022, 1, 5)),
 (2, 6, 26, datetime.date(2022, 1, 6)),
 (2, 7, 25, datetime.date(2022, 1, 7)),
 (2, 8, 24, datetime.date(2022, 1, 8)),
 (2, 9, 22, datetime.date(2022, 1, 10)),
 (2, 10, 21, datetime.date(2022, 1, 11)),
 (2, 11, 20, datetime.date(2022, 1, 12)),
 (2, 12, 19, datetime.date(2022, 1, 13)),
 (2, 13, 18, datetime.date(2022, 1, 14)),
 (2, 14, 17, datetime.date(2022, 1, 15)),
 (2, 15, 16, datetime.date(2022, 1, 16)),
 (2, 16, 15, datetime.date(2022, 1, 17)),
 (2, 17, 14, datetime.date(2022, 1, 18)),
 (2, 18, 13, datetime.date(2022, 1, 19)),
 (2, 19, 12, datetime.date(2022, 1, 20)),
 (2, 20, 11, datetime.date(2022, 1, 21)),
 (2, 21, 9, datetime.date(2022, 1, 23)),
 (2, 22, 8, datetime.date(2022, 1, 24)),
 (2, 23, 7, datetime.date(2022, 1, 25)),
 (2, 24, 6, datetime.date(2022, 1, 26))]

In [279]:
%%sql
WITH g as (
SELECT
  ID,
  ROW_NUMBER() OVER (PARTITION BY ID ORDER BY DT) AS rn,
  DATEDIFF('2022-02-01', DT) AS grp,
  DT
FROM 문제2)

SELECT
  COUNT(*) AS consecutiveDates,
  MIN(DT) AS minDate,
  MAX(DT) AS maxDate
FROM g
GROUP BY grp
ORDER BY 1 DESC, 2 DESC

 * mysql+mysqldb://root:***@localhost/vscode
26 rows affected.

[(2, datetime.date(2022, 1, 26), datetime.date(2022, 1, 26)),
 (2, datetime.date(2022, 1, 25), datetime.date(2022, 1, 25)),
 (2, datetime.date(2022, 1, 24), datetime.date(2022, 1, 24)),
 (2, datetime.date(2022, 1, 23), datetime.date(2022, 1, 23)),
 (2, datetime.date(2022, 1, 21), datetime.date(2022, 1, 21)),
 (2, datetime.date(2022, 1, 20), datetime.date(2022, 1, 20)),
 (2, datetime.date(2022, 1, 19), datetime.date(2022, 1, 19)),
 (2, datetime.date(2022, 1, 18), datetime.date(2022, 1, 18)),
 (2, datetime.date(2022, 1, 17), datetime.date(2022, 1, 17)),
 (2, datetime.date(2022, 1, 16), datetime.date(2022, 1, 16)),
 (2, datetime.date(2022, 1, 15), datetime.date(2022, 1, 15)),
 (2, datetime.date(2022, 1, 14), datetime.date(2022, 1, 14)),
 (2, datetime.date(2022, 1, 13), datetime.date(2022, 1, 13)),
 (2, datetime.date(2022, 1, 12), datetime.date(2022, 1, 12)),
 (2, datetime.date(2022, 1, 11), datetime.date(2022, 1, 11)),
 (2, datetime.date(2022, 1, 10), datetime.date(2022, 1, 10)),
 (2, datetime.date(2022, 1, 8), datetime.date(2022, 1, 8)),
 (2, datetime.date(2022, 1, 7), datetime.date(2022, 1, 7)),
 (2, datetime.date(2022, 1, 6), datetime.date(2022, 1, 6)),
 (2, datetime.date(2022, 1, 5), datetime.date(2022, 1, 5)),
 (2, datetime.date(2022, 1, 4), datetime.date(2022, 1, 4)),
 (2, datetime.date(2022, 1, 3), datetime.date(2022, 1, 3)),
 (2, datetime.date(2022, 1, 2), datetime.date(2022, 1, 2)),
 (1, datetime.date(2022, 1, 22), datetime.date(2022, 1, 22)),
 (1, datetime.date(2022, 1, 9), datetime.date(2022, 1, 9)),
 (1, datetime.date(2022, 1, 1), datetime.date(2022, 1, 1))]

In [248]:
%%sql
SELECT 
    ID,
    DT,
    DATEDIFF('2022-04-01', DT) - ROW_NUMBER() OVER(PARTITION BY ID ORDER BY DT)
FROM 문제2

 * mysql+mysqldb://root:***@localhost/vscode
49 rows affected.

[(1, datetime.date(2022, 1, 2), 88),
 (1, datetime.date(2022, 1, 3), 86),
 (1, datetime.date(2022, 1, 4), 84),
 (1, datetime.date(2022, 1, 5), 82),
 (1, datetime.date(2022, 1, 6), 80),
 (1, datetime.date(2022, 1, 7), 78),
 (1, datetime.date(2022, 1, 8), 76),
 (1, datetime.date(2022, 1, 9), 74),
 (1, datetime.date(2022, 1, 10), 72),
 (1, datetime.date(2022, 1, 11), 70),
 (1, datetime.date(2022, 1, 12), 68),
 (1, datetime.date(2022, 1, 13), 66),
 (1, datetime.date(2022, 1, 14), 64),
 (1, datetime.date(2022, 1, 15), 62),
 (1, datetime.date(2022, 1, 16), 60),
 (1, datetime.date(2022, 1, 17), 58),
 (1, datetime.date(2022, 1, 18), 56),
 (1, datetime.date(2022, 1, 19), 54),
 (1, datetime.date(2022, 1, 20), 52),
 (1, datetime.date(2022, 1, 21), 50),
 (1, datetime.date(2022, 1, 22), 48),
 (1, datetime.date(2022, 1, 23), 46),
 (1, datetime.date(2022, 1, 24), 44),
 (1, datetime.date(2022, 1, 25), 42),
 (1, datetime.date(2022, 1, 26), 40),
 (2, datetime.date(2022, 1, 1), 89),
 (2, datetime.date(2022, 1, 2), 87),
 (2, datetime.date(2022, 1, 3), 85),
 (2, datetime.date(2022, 1, 4), 83),
 (2, datetime.date(2022, 1, 5), 81),
 (2, datetime.date(2022, 1, 6), 79),
 (2, datetime.date(2022, 1, 7), 77),
 (2, datetime.date(2022, 1, 8), 75),
 (2, datetime.date(2022, 1, 10), 72),
 (2, datetime.date(2022, 1, 11), 70),
 (2, datetime.date(2022, 1, 12), 68),
 (2, datetime.date(2022, 1, 13), 66),
 (2, datetime.date(2022, 1, 14), 64),
 (2, datetime.date(2022, 1, 15), 62),
 (2, datetime.date(2022, 1, 16), 60),
 (2, datetime.date(2022, 1, 17), 58),
 (2, datetime.date(2022, 1, 18), 56),
 (2, datetime.date(2022, 1, 19), 54),
 (2, datetime.date(2022, 1, 20), 52),
 (2, datetime.date(2022, 1, 21), 50),
 (2, datetime.date(2022, 1, 23), 47),
 (2, datetime.date(2022, 1, 24), 45),
 (2, datetime.date(2022, 1, 25), 43),
 (2, datetime.date(2022, 1, 26), 41)]

In [238]:
%%sql
WITH t as (
SELECT 
    ID,
    DT,
    DATEDIFF('2022-04-01', DT) - ROW_NUMBER() OVER(PARTITION BY ID ORDER BY DT) as i
FROM 문제2)

SELECT ID, min(DT) as START_DT, max(DT) as END_DT, COUNT(*) CNT
FROM t
GROUP BY DATEDIFF(DT, i), ID

 * mysql+mysqldb://root:***@localhost/vscode
2 rows affected.

[(1, datetime.date(2022, 1, 2), datetime.date(2022, 1, 26), 25),
 (2, datetime.date(2022, 1, 1), datetime.date(2022, 1, 26), 24)]

In [ ]:
# %%
%%sql

SELECT *
FROM <table>;

### 문제 3-1
호텔 검색 로그 테이블과 호텔 예약 로그 테이블을 이용하여 아래 결과 도출
쿼리 작성
- 예약까지 이뤄진 유저, 호텔에 대해 검색한 시간과 실제 예약한 시간 추출
- 표 3 에서 스키마 정보 확인

In [96]:
%%sql
SELECT r.USER_ID, r.HOTEL_CD, s.EVENT_TIME as EVENT_TIME_SEARCH, r.EVENT_TIME as EVENT_TIME_RESERVE
FROM 문제3_resv r JOIN 문제3_search s ON (r.HOTEL_CD=s.HOTEL_CD AND r.USER_ID=s.USER_ID)

 * mysql+mysqldb://root:***@localhost/vscode
4 rows affected.

[(1, 'C', datetime.datetime(2022, 5, 29, 13, 50, 26), datetime.datetime(2022, 5, 29, 13, 55, 40)),
 (1, 'D', datetime.datetime(2022, 5, 29, 23, 25, 41), datetime.datetime(2022, 5, 29, 23, 52, 56)),
 (2, 'C', datetime.datetime(2022, 5, 29, 18, 34, 38), datetime.datetime(2022, 5, 29, 18, 59, 3)),
 (4, 'L', datetime.datetime(2022, 5, 29, 19, 22, 38), datetime.datetime(2022, 5, 29, 19, 28, 43))]

### 문제 3-2
호텔 검색 로그 테이블과 호텔 예약 로그 테이블을 이용하여 아래 결과 도출
쿼리 작성
- 호텔 예약이 없었던 유저들의 호텔 검색 횟수와 검색한 호텔 수 추출
- 표 4 에서 스키마 정보 확인

In [95]:
%%sql
SELECT s.USER_ID, COUNT(*) as SEARCH_CNT, COUNT(DISTINCT(s.HOTEL_CD)) as SEARCH_HOTEL_CNT
FROM 문제3_search s LEFT JOIN 문제3_resv r ON r.USER_ID=s.USER_ID
WHERE r.USER_ID IS NULL
GROUP BY s.USER_ID

 * mysql+mysqldb://root:***@localhost/vscode
6 rows affected.

[(3, 1, 1), (5, 4, 2), (6, 2, 1), (7, 1, 1), (8, 1, 1), (9, 1, 1)]

### 문제 3-3
호텔 검색 로그 테이블과 호텔 예약 로그 테이블을 이용하여 아래 결과 도출
쿼리 작성
- 각 유저 별 호텔 검색 수, 검색한 호텔 수, 예약한 호텔 수 추출
- 표 5 에서 스키마 정보 확인

In [94]:
%%sql
with t as (
SELECT *
FROM 문제3_search 
UNION 
SELECT *
FROM 문제3_resv)

SELECT 
    USER_ID,
    sum(CASE WHEN ACTION = '검색' THEN 1 ELSE 0 END) as SEARCH_CNT,
    COUNT(DISTINCT CASE WHEN ACTION = '검색' THEN HOTEL_CD END) as SEARCH_HOTEL_CNT,
    COUNT(DISTINCT CASE WHEN ACTION = '예약' THEN HOTEL_CD END) as RESERVE_HOTEL_CNT
FROM t
GROUP BY USER_ID

 * mysql+mysqldb://root:***@localhost/vscode
12 rows affected.

[(1, Decimal('5'), 5, 2),
 (2, Decimal('2'), 2, 1),
 (3, Decimal('1'), 1, 0),
 (4, Decimal('1'), 1, 1),
 (5, Decimal('4'), 2, 0),
 (6, Decimal('2'), 1, 0),
 (7, Decimal('1'), 1, 0),
 (8, Decimal('1'), 1, 0),
 (9, Decimal('1'), 1, 0),
 (10, Decimal('0'), 0, 1),
 (11, Decimal('0'), 0, 1),
 (12, Decimal('0'), 0, 1)]